Repository Team-EnderIO/EnderIO, pull requests merged in 2024-06, with the labels that each got.

#657 adding the ensure compiler plugin
  build.gradle.kts
  config/checkstyle/checkstyle.xml
  src/api/java/com/enderio/api/UseOnly.java
  src/api/java/com/enderio/api/conduit/ExtendedConduitData.java
  src/api/java/com/enderio/api/conduit/TieredConduit.java
  src/conduits/java/com/enderio/conduits/common/blockentity/ConduitBlockEntity.java
  src/conduits/java/com/enderio/conduits/common/blockentity/ConduitBundle.java
  src/conduits/java/com/enderio/conduits/common/types/SimpleConduitType.java
  src/conduits/java/com/enderio/conduits/common/types/redstone/RedstoneExtendedData.java
  src/core/java/com/enderio/core/common/blockentity/EnderBlockEntity.java
  src/ensure_plugin/LICENSE.txt
  src/ensure_plugin/java/me/liliandev/ensure/EnsurePlugin.java
  src/ensure_plugin/java/me/liliandev/ensure/TransformerManager.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/EnsureInRange.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/EnsureInRangeTransformer.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/EnsureNotNull.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/EnsureNotNullTransformer.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/EnsureSide.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/EnsureSideTransformer.java
  src/ensure_plugin/java/me/liliandev/ensure/ensures/package-info.java
  src/ensure_plugin/java/me/liliandev/ensure/package-info.java
  src/ensure_plugin/java/me/liliandev/ensure/setup/EnsureSetup.java
  src/ensure_plugin/java/me/liliandev/ensure/setup/jdkdummy/Child.java
  src/ensure_plugin/java/me/liliandev/ensure/setup/jdkdummy/GrandChild.java
  src/ensure_plugin/java/me/liliandev/ensure/setup/jdkdummy/Parent.java
  src/ensure_plugin/java/me/liliandev/ensure/setup/jdkdummy/package-info.java
  src/ensure_plugin/java/me/liliandev/ensure/setup/package-info.java
  src/ensure_plugin/java/me/liliandev/ensure/transformerutils/Handler.java
  src/ensure_plugin/java/me/liliandev/ensure/transformerutils/Transformer.java
  src/ensure_plugin/java/me/liliandev/ensure/transformerutils/TransformerUtil.java
  src/ensure_plugin/java/me/liliandev/ensure/transformerutils/package-info.java
  src/ensure_plugin/java/module-info.java
  src/ensure_plugin/resources/META-INF/services/com.sun.source.util.Plugin
  src/ensure_plugin/resources/META-INF/services/me.liliandev.ensure.transformerutils.Transformer
  src/machines/java/com/enderio/machines/common/attachment/ActionRange.java
  src/machines/java/com/enderio/machines/common/blockentity/SoulBinderBlockEntity.java
  src/machines/java/com/enderio/machines/common/blockentity/base/MachineBlockEntity.java
  src/main/java/com/enderio/base/common/blockentity/EnderSkullBlockEntity.java
  src/main/java/com/enderio/base/common/blockentity/Wrenchable.java
Labels: Type-Enhancement, Area-Backend, MC-1.20.6

#691 Conduit upgrade void
  src/conduits/java/com/enderio/conduits/common/conduit/block/ConduitBlock.java
Labels: MC-1.20.1, Area-Conduits, Status-Needs LTS Backport, MC-1.21

#695 Add painted wall
  src/generated/resources/assets/enderio/blockstates/painted_wall.json
  src/generated/resources/assets/enderio/lang/en_us.json
  src/generated/resources/assets/enderio/models/block/painted_wall.json
  src/generated/resources/assets/enderio/models/item/painted_wall.json
  src/generated/resources/data/enderio/loot_table/blocks/painted_wall.json
  src/generated/resources/data/enderio/recipe/painting/painted_wall.json
  src/generated/resources/data/enderio/recipe/painting/painted_wall_frompainted.json
  src/generated/resources/data/minecraft/tags/block/mineable/pickaxe.json
  src/generated/resources/data/minecraft/tags/block/walls.json
  src/machines/java/com/enderio/machines/data/recipes/PaintingRecipeProvider.java
  src/main/java/com/enderio/base/common/init/EIOBlockEntities.java
  src/main/java/com/enderio/base/common/init/EIOBlocks.java
  src/main/java/com/enderio/base/common/paint/block/PaintedWallBlock.java
Labels: Type-Enhancement, MC-1.21

#722 Fix conduit onCreated not being called
  src/conduits/java/com/enderio/conduits/common/conduit/ConduitBundle.java
Labels: MC-1.20.1, Area-Conduits, P-0-High

#631 Add VAT
  src/core/java/com/enderio/core/client/gui/widgets/EIOImageButton.java
  src/generated/resources/assets/enderio/blockstates/vat.json
  src/generated/resources/assets/enderio/lang/en_us.json
  src/generated/resources/assets/enderio/models/block/vat_combined.json
  src/generated/resources/assets/enderio/models/item/vat.json
  src/generated/resources/data/c/tags/item/crops.json
  src/generated/resources/data/c/tags/item/seeds.json
  src/generated/resources/data/enderio/data_maps/item/vat_reagent.json
  src/generated/resources/data/enderio/loot_table/blocks/vat.json
  src/generated/resources/data/enderio/recipe/fermenting/fluid_hootch_still.json
  src/generated/resources/data/minecraft/tags/block/mineable/pickaxe.json
  src/generated/resources/data/minecraft/tags/block/needs_iron_tool.json
  src/machines/java/com/enderio/machines/EIOMachines.java
  src/machines/java/com/enderio/machines/client/gui/screen/VatScreen.java
  src/machines/java/com/enderio/machines/client/gui/widget/FermentationWidget.java
  src/machines/java/com/enderio/machines/common/blockentity/FluidTankBlockEntity.java
  src/machines/java/com/enderio/machines/common/blockentity/VatBlockEntity.java
  src/machines/java/com/enderio/machines/common/blockentity/base/MachineBlockEntity.java
  src/machines/java/com/enderio/machines/common/blockentity/task/CraftingMachineTask.java
  src/machines/java/com/enderio/machines/common/datamap/VatReagent.java
  src/machines/java/com/enderio/machines/common/datamap/package-info.java
  src/machines/java/com/enderio/machines/common/init/MachineBlockEntities.java
  src/machines/java/com/enderio/machines/common/init/MachineBlocks.java
  src/machines/java/com/enderio/machines/common/init/MachineDataMaps.java
  src/machines/java/com/enderio/machines/common/init/MachineMenus.java
  src/machines/java/com/enderio/machines/common/init/MachineNetwork.java
  src/machines/java/com/enderio/machines/common/init/MachineRecipes.java
  src/machines/java/com/enderio/machines/common/io/fluid/FluidItemInteractive.java
  src/machines/java/com/enderio/machines/common/io/fluid/MachineFluidHandler.java
  src/machines/java/com/enderio/machines/common/io/fluid/TankAccess.java
  src/machines/java/com/enderio/machines/common/lang/MachineLang.java
  src/machines/java/com/enderio/machines/common/menu/VatMenu.java
  src/machines/java/com/enderio/machines/common/network/MachinePayloadHandler.java
  src/machines/java/com/enderio/machines/common/network/VatDumpTankPacket.java
  src/machines/java/com/enderio/machines/common/network/VatMoveTankPacket.java
  src/machines/java/com/enderio/machines/common/recipe/FermentingRecipe.java
  src/machines/java/com/enderio/machines/common/recipe/RecipeCaches.java
  src/machines/java/com/enderio/machines/data/reagentdata/ReagentDataProvider.java
  src/machines/java/com/enderio/machines/data/reagentdata/package-info.java
  src/machines/java/com/enderio/machines/data/recipes/FermentingRecipeProvider.java
  src/machines/resources/assets/enderio/models/block/vat.json
  src/machines/resources/assets/enderio/textures/block/vat_back.png
  src/machines/resources/assets/enderio/textures/block/vat_front.png
  src/machines/resources/assets/enderio/textures/block/vat_top.png
  src/machines/resources/assets/enderio/textures/gui/vat.png
  src/main/resources/assets/enderio/textures/gui/sprites/buttons/move_fluid.png
  src/main/resources/assets/enderio/textures/gui/sprites/buttons/void_fluid.png
  src/main/resources/assets/enderio/textures/gui/sprites/vat_cover.png
Labels: Type-Enhancement, Area-Parity, MC-1.21

#696 Hide glass and soul recipes from jei
  src/machines/java/com/enderio/machines/common/init/MachineBlocks.java
  src/machines/java/com/enderio/machines/common/integrations/jei/category/SoulBindingCategory.java
  src/main/java/com/enderio/base/common/block/glass/GlassBlocks.java
  src/main/java/com/enderio/base/common/init/EIOItems.java
  src/main/java/com/enderio/base/common/integrations/jei/EnderIOJEI.java
  src/main/java/com/enderio/base/common/integrations/jei/extension/ShapedEntityStorageCategoryExtension.java
  src/main/java/com/enderio/base/common/item/misc/BrokenSpawnerItem.java
Labels: Type-Enhancement, Area-Mod Integration, MC-1.21
