Repository Team-EnderIO/EnderIO, pull requests merged in 2024-12, with the labels that each got.

#899 [1.21.1] Fix item loss during transfer in Item Conduits
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/item/ItemConduitTicker.java
Labels: Area-Conduits

#929 fix TravelAnchorHud rendering
  enderio-machines/src/main/java/com/enderio/machines/client/rendering/travel/TravelAnchorHud.java
Labels: MC-1.21.1

#928 fix ConduitIngredient recipe checks
  enderio-conduits/src/main/java/com/enderio/conduits/common/recipe/ConduitIngredient.java
  enderio-conduits/src/main/java/com/enderio/conduits/data/recipe/ConduitRecipes.java
Labels: MC-1.21.1

#881 Fix redstone conduits and filters
  src/api/java/com/enderio/api/conduit/ticker/ConduitTicker.java
  src/conduits/java/com/enderio/conduits/common/conduit/block/ConduitBlock.java
  src/conduits/java/com/enderio/conduits/common/conduit/block/ConduitBlockEntity.java
  src/conduits/java/com/enderio/conduits/common/conduit/type/redstone/RedstoneConduitTicker.java
  src/conduits/java/com/enderio/conduits/common/redstone/RedstoneNOTFilter.java
  src/conduits/java/com/enderio/conduits/common/redstone/RedstoneSensorFilter.java
  src/conduits/java/com/enderio/conduits/common/redstone/RedstoneTLatchFilter.java
  src/conduits/java/com/enderio/conduits/common/redstone/RedstoneTimerFilter.java
Labels: Type-Enhancement, MC-1.20.1, Area-Conduits
