Repository Team-EnderIO/EnderIO, pull requests merged in 2024-10, with the labels that each got.

#777 Aversion Obelisk backport to 1.20.1
  src/api/java/com/enderio/api/filter/EntityFilter.java
  src/core/java/com/enderio/core/common/capability/EntityFilterCapability.java
  src/core/java/com/enderio/core/common/capability/IFilterCapability.java
  src/core/java/com/enderio/core/common/util/ChunkBoundLookup.java
  src/generated/resources/assets/enderio/blockstates/aversion_obelisk.json
  src/generated/resources/assets/enderio/lang/en_ud.json
  src/generated/resources/assets/enderio/lang/en_us.json
  src/generated/resources/assets/enderio/models/item/aversion_obelisk.json
  src/generated/resources/assets/enderio/models/item/entity_filter.json
  src/generated/resources/data/enderio/advancements/recipes/misc/aversion_obelisk.json
  src/generated/resources/data/enderio/advancements/recipes/misc/entity_filter.json
  src/generated/resources/data/enderio/loot_tables/blocks/aversion_obelisk.json
  src/generated/resources/data/enderio/recipes/aversion_obelisk.json
  src/generated/resources/data/enderio/recipes/entity_filter.json
  src/generated/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
  src/generated/resources/data/minecraft/tags/blocks/needs_iron_tool.json
  src/machines/java/com/enderio/machines/client/MachinesClientSetup.java
  src/machines/java/com/enderio/machines/client/gui/screen/AversionObeliskScreen.java
  src/machines/java/com/enderio/machines/client/rendering/blockentity/ObeliskBER.java
  src/machines/java/com/enderio/machines/common/blockentity/AversionObeliskBlockEntity.java
  src/machines/java/com/enderio/machines/common/blockentity/base/ObeliskBlockEntity.java
  src/machines/java/com/enderio/machines/common/config/client/MachinesClientBlocksConfig.java
  src/machines/java/com/enderio/machines/common/config/common/EnergyConfig.java
  src/machines/java/com/enderio/machines/common/init/MachineBlockEntities.java
  src/machines/java/com/enderio/machines/common/init/MachineBlocks.java
  src/machines/java/com/enderio/machines/common/init/MachineMenus.java
  src/machines/java/com/enderio/machines/common/menu/AversionObeliskMenu.java
  src/machines/java/com/enderio/machines/common/obelisk/AversionObeliskManager.java
  src/machines/java/com/enderio/machines/common/obelisk/IObeliskManagerCapability.java
  src/machines/java/com/enderio/machines/common/obelisk/ObeliskManager.java
  src/machines/java/com/enderio/machines/common/obelisk/ObeliskManagerAttacher.java
  src/machines/java/com/enderio/machines/data/recipes/MachineRecipeProvider.java
  src/machines/resources/assets/enderio/models/block/aversion_obelisk.json
  src/main/java/com/enderio/base/client/gui/screen/EntityFilterScreen.java
  src/main/java/com/enderio/base/common/init/EIOItems.java
  src/main/java/com/enderio/base/common/init/EIOMenus.java
  src/main/java/com/enderio/base/common/item/filter/EntityFilter.java
  src/main/java/com/enderio/base/common/menu/EntityFilterMenu.java
  src/main/java/com/enderio/base/common/menu/EntityFilterSlot.java
  src/main/java/com/enderio/base/data/recipe/FilterRecipeProvider.java
  src/main/resources/assets/enderio/textures/item/entity_filter.png
Labels: Type-Enhancement, MC-1.20.1, Area-Parity, Type-Backport

#840 Fluid Conduits - Iterate fluid tanks
  src/conduits/java/com/enderio/conduits/common/conduit/type/fluid/FluidConduitTicker.java
Labels: MC-1.20.1, Area-Conduits

#822 Conduit Speed Reworks
  enderio-base/src/main/java/com/enderio/base/client/tooltip/TooltipHandler.java
  enderio-conduits-modded/src/generated/resources/data/enderio/enderio/conduit/chemical.json
  enderio-conduits-modded/src/generated/resources/data/enderio/enderio/conduit/ender_chemical.json
  enderio-conduits-modded/src/generated/resources/data/enderio/enderio/conduit/pressurized_chemical.json
  enderio-conduits-modded/src/main/java/com/enderio/modconduits/mods/mekanism/ChemicalConduit.java
  enderio-conduits-modded/src/main/java/com/enderio/modconduits/mods/mekanism/ChemicalTicker.java
  enderio-conduits-modded/src/main/java/com/enderio/modconduits/mods/mekanism/MekanismModule.java
  enderio-conduits/src/generated/resources/assets/enderio/lang/en_us.json
  enderio-conduits/src/generated/resources/data/enderio/enderio/conduit/ender_fluid.json
  enderio-conduits/src/generated/resources/data/enderio/enderio/conduit/fluid.json
  enderio-conduits/src/generated/resources/data/enderio/enderio/conduit/pressurized_fluid.json
  enderio-conduits/src/main/java/com/enderio/conduits/api/Conduit.java
  enderio-conduits/src/main/java/com/enderio/conduits/api/ticker/ConduitTicker.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/ConduitBlockItem.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/ConduitSavedData.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/energy/EnergyConduit.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/energy/EnergyConduitStorage.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/energy/EnergyConduitTicker.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/fluid/FluidConduit.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/fluid/FluidConduitTicker.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/item/ItemConduit.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/item/ItemConduitTicker.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/redstone/RedstoneConduit.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/conduit/type/redstone/RedstoneConduitTicker.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/init/ConduitLang.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/init/ConduitTypes.java
  enderio-conduits/src/main/java/com/enderio/conduits/common/init/Conduits.java
Labels: Type-RFC, Area-Conduits, Area-Datapacks, MC-1.21
